<Files ~ "^.(htaccess|htpasswd)$">
deny from all
</Files>
<FilesMatch ".(gif|jpg|jpeg|png|ico)$">
Header set Cache-Control "max-age=86400"
</FilesMatch>
order deny,allow
AddType text/cache-manifest appcache
